<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">vAuth</span>
            </a>
        </div>
        <form class="search">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
        </form>
        <div class="header-actions">
            <a href="..." class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <a href="..." class="nav-link active">
                    Nav Element 1
                </a>
                <a href="..." class="nav-link">
                    Nav Element 2
                </a>
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">Collapsible Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
                <section class="nav-group">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Default Nav Element</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                        <li><a class="nav-link active">Link 3</a></li>
                        <li><a class="nav-link">Link 4</a></li>
                        <li><a class="nav-link">Link 5</a></li>
                        <li><a class="nav-link">Link 6</a></li>
                    </ul>
                </section>
            </section>
        </nav>
        <div class="content-area">
            <clr-datagrid>
                <clr-dg-column>User ID</clr-dg-column>
                <clr-dg-column>Name</clr-dg-column>
                <clr-dg-column>Creation date</clr-dg-column>
                <clr-dg-column>Favorite color</clr-dg-column>
            
                <clr-dg-row *ngFor="let user of users">
                    <clr-dg-cell>{{user.id}}</clr-dg-cell>
                    <clr-dg-cell>{{user.name}}</clr-dg-cell>
                    <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
                    <clr-dg-cell>{{user.color}}</clr-dg-cell>
                </clr-dg-row>
            
                <clr-dg-footer>{{users.length}} users</clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>
  </div>

<router-outlet></router-outlet>