<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">vAuth</span>
            </a>
        </div>
        <form class="search">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
        </form>
        <div class="header-actions">
            <a href="..." class="nav-link nav-icon" aria-label="settings">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <table class="table">
                <thead>
                    <tr>
                        <th>Decimal</th>
                        <th>Hexadecimal</th>
                        <th>Binary</th>
                        <th>Roman Numeral</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>I</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>5</td>
                        <td>101</td>
                        <td>V</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>A</td>
                        <td>1010</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>F</td>
                        <td>1111</td>
                        <td>XV</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="sidenav">
            <section class="nav-group collapsible">
                <input id="tabexample1" type="checkbox">
                <label for="tabexample1">Administration</label>
                <ul class="nav-list">
                    <li><a class="nav-link">Exclusions</a></li>
                    <li><a class="nav-link">Configuration</a></li>
                </ul>
            </section>
        </nav>
    </div>
  </div>

<router-outlet></router-outlet>