header {
    width: 100%;
    background-color: #000000;
}

.fixed-table-container {
    background-color: white;
}

.bootstrap-table {
    padding-top: 1rem;
}

.card-title {
    text-align: center;
    font-size: 50px;
}

.card-text{
    text-align: center;
}