[Unit]
Description="vAuth - A vSphere identity platform"
Documentation=https://martezr.github.io/vauth
Requires=network-online.target
After=network-online.target

[Service]
User=vauth
Group=vauth
ExecStart=/usr/bin/vauth server
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
